.barton-hero {
  height: 220px;
  position: relative;
  margin-top: 70.2px;
  margin-bottom: 40px;
  .barton-hero-img {
    background: url('../../img/aj-bartonsprings.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    opacity: .7;
  }
  .box-headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 129px;
    width: 174px;
    text-align: center;
    padding: 17px 21px;
    h2 {
      margin: 0;
    }
  }
}

.barton-blends {
  margin-top: 60px;
  margin-bottom: 50.5px;
  .blend-card {
    width: 100%;
    height: 500px;
    background-color: $accent-color;
    .blend-img {
      width: 100%;
      height: 170px;
      background: url('../../img/andrew-spencer-332965.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .blend-text {
      padding: 46px 15px 42px;
      color: #FFF;
      text-align: center;
      h3 {
        font-size: 34px;
        font-family: 'Monthoers', sans-serif;
        line-height: 38px;
        margin-bottom: 24px;
      }
      p {
        font-family: 'Brandon_med', sans-serif;
        font-size: 16px;
        line-height: 23px;
      }
      button {
        margin-top: 23px;
        border: 3px solid #FFF;
        height: 50px;
        width: 265px;
        background-color: $accent-color;
        padding: 0;
        a {
          color: #FFF;
          display: inline-block;
          width: 100%;
          height: 100%;
          padding: 14px 20px;
          font-family: 'Brandon_med', sans-serif;
          letter-spacing: 1px;
        }
      }
    }
  }
}

.barton-menus {
  margin-bottom: 60px;
  margin-top: 40px;
  .barton-menus-wrap {
    .schedule {
      width: 100%;
      margin-bottom: 71px;
      .info {
        max-width: 334px;
        margin: 0 auto;
        .schedule-description {
          font-size: 16px;
          font-family: 'Brandon_med', sans-serif;
          line-height: 23px;
          margin-top: 28px;
          display: inline-block;
          width: 80%;
        }
      }
      .detail-text {
        display: inline-block;
        width: 100%;
      }
      .days {
        color: #AFAFAF;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        p {
          width: 50%;
          display: inline-block;
        }
        .time {
          text-align: right;
        }
      }
    }
    h1 {
      max-width: 290px;
      margin: 0 auto;
      margin-bottom: 22px;
    }
    .breakfast {
      margin-bottom: 18px;
    }
    .barton-menu {
      width: 100%;
      height: 335px;
      position: relative;
      .barton-menu-text {
        width: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        h3 {
          font-family: 'Monthoers', sans-serif;
          font-size: 38px;
          color: #FFF;
          letter-spacing: 1px;
          margin-bottom: 29px;
        }
        button {
          height: 50px;
          width: 186px;
          margin: 0 auto;
          border: 3px solid #FFF;
          background-color: transparent;
          margin-bottom: 16px;
          padding: 0;
          transition: all ease-out .3s;
          a {
            display: inline-block;
            width: 100%;
            height: 100%;
            padding-top: 13.8px;
            font-size: 16px;
            color: #FFF;
            font-family: 'Brandon_med', sans-serif;
            letter-spacing: 1px;
            transition: all ease-out .3s;
          }
        }
        button:hover {
          background-color: #FFF;
          a {
            color: #000;
          }
        }
      }
      .barton-img {
        width: 100%;
        height: 100%;
      }
      .breakfast-img {
        background:
          linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),
          url('../../img/eggs.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
      .lunch-img {
        background:
          linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),
          url('../../img/burgers.jpeg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}



.map-shadow {
  box-shadow: 0px 3px 6px rgba(0,0,0,.16);
}

.barton-footer {
  border-top: 1px solid #F2F2F2;
}

@media screen and (min-width: 480px) {
  .barton-hero {
    .box-headline {
      height: 73px;
      width: 312px;
      padding: 12px 24px;
      padding-bottom: 0;
    }
  }
}

@media screen and (min-width: 768px) {
  .barton-hero {
    height: 300px;
    .box-headline {
      height: 104px;
      width: 435px;
      padding: 18px 23px;
      padding-bottom: 0;
      h2 {
        font-size: 73px;
      }
    }
  }

  .barton-blends {
    .blend-card {
      height: 330px;
      display: flex;
      flex-direction: row;
      .blend-img {
        min-width: 50%;
        max-width: 452.2px;
        height: 100%;
      }
      .blend-text {
        text-align: left;
        padding-left: 30px;
        padding-top: 46px;
        padding-right: 54px;

      }
    }
  }

  .barton-menus {
    .barton-menus-wrap {
      .breakfast-lunch {

        .bk-lunch-wrapper {
          display: flex;
          flex-direction: row;
          .breakfast {
            margin-bottom: 0;
            margin-right: 18.1px;
          }
        }

      }
    }
  }


}

@media screen and (min-width: 1024px) {
  .barton-hero {
    height: 339.91px;

    .barton-hero-img {
      width: 695px;
      position: absolute;
      right: 0;
    }
    .box-headline {
      position: absolute;
      left: 0;
      transform: translate(0%, -50%);
    }
  }

  .barton-menus {
    .barton-menus-wrap {
      display: flex;
      flex-direction: row;
      .schedule {
        width: 334px;
      }
      .breakfast-lunch {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-content: center;
        .barton-menu-headline {
          width: 100%;
          height: 39px;
          margin: 0;
          align-self: center;
          margin-bottom: 29px;
        }
        .bk-lunch-wrapper {
          display: flex;
          flex-direction: row;
          margin-left: 21.1px;
          .barton-menu {
            .barton-menu-text {
              h3 {
                transform: translateY(70px);
                transition: all ease-out .3s;
              }
              button {
                // display: none;
                opacity: 0;
                z-index: -999;
                transform: translateY(100px);
                transition: all ease-out .3s;
              }
            }
          }
          .barton-menu:hover {
            .barton-menu-text {
              h3 {
                transform: translateY(-100px);
                opacity: 0;
                z-index: -999;
              }
              button {
                transform: translateY(-30px);
                // display: block;
                opacity: 1;
                z-index: 999;
              }
            }
          }
        }
      }
    }
  }

}
