.container {
  // background-color: red;
  // height: 1000px;
}

.bg-lower-store {
  height: 800px;
}
.coffee-hero {
  margin-bottom: 75px;
  .coffee-hero-img {
    background-color: #333;
    height: 300px;
    background: url('../../img/beans.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    h1 {
      font-family: 'Monthoers', sans-serif;
      font-size: 73px;
      color: #FFF;
    }
  }
}

.coffee-shop {
  margin-bottom: 129px;
  .selections {
    h3 {
      font-family: 'Monthoers', sans-serif;
      font-size: 38px;
      margin-bottom: 37px;
    }
    ul {
      font-family: 'Brandon_bld', sans-serif;
      li {
        text-transform: uppercase;
        line-height: 43px;
        position: relative;

        a {
          text-decoration: none;
          color: black;
          transition: all .16s ease-in-out;
          &.new-pill {
            &:after {
              content: 'new';
              background: $yellow;
              display: inline-block;
              font-size: 10px;
              line-height: 12px;
              color: white;
              position: relative;
              bottom: 2px;
              padding: 3px 8px 2px;
              border-radius: 12px;
              margin-left: 8px;
            }
          }
          &:hover {
            color: $yellow;
          }
          &:before {
            content: '';
            width: 0px;
            height: 3px;
            background: $yellow;
            display: inline-block;
            position: relative;
            top: -5px;
            margin-right: 14px;
            transition: all .16s ease-in-out;
          }
          &:hover:before {
            width: 24px;
          }
        }
      }
    }
    // h5 {
    //   font-family: 'Brandon_bld', sans-serif;
    //   font-size: 16px;
    //   line-height: 43px;
    //   word-spacing: 2px;
    //   transition: all ease-out .3s;
    //   cursor: pointer;
    //   &:before {
    //     content: '';
    //     transition: all ease-out .5s;
    //   }
    // }
    //
    // h5:hover {
    //   color: $accent-color;
    //   &:before {
    //     content: '\2014';
    //     color: $accent-color;
    //     margin-right: 5px;
    //   }
    // }
  }
  .store {
    // background-color: #FFF;
    .items {
      .merch {
        &:after {
          content: "";
          flex: auto;
        }
      }
    }
    .filters {
      margin-bottom: 36px;
      .sort {
        select#sort-by {
          position: relative;
          left: 0;
          height: 40px;
          width: 230px;
          -webkit-appearance: none;
          border-radius: 0px;
          border: 1px solid #9A958E;
          color: #9A958E;
          font-family: 'Brandon_med', sans-serif;
          font-size: 14px;
          padding: 10px 16px;
          background: url('../../img/chevron-down.svg');
          background-color: #FFF;
          background-repeat: no-repeat;
          background-position: 95% 50%;
          background-size: 10px 5px;
        }
      }
      .cart {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .numberOfItems {
          color: #8D8D8D;
          font-size: 20px;
          font-family: 'Brandon_med', sans-serif;
          margin-right: 8px;
        }
        p {
          font-family: 'Brandon_med', sans-serif;
          color: #8D8D8D;
          margin-right: 11.5px;
        }
        .cart-icon {
          svg {
            height: 29px;
            width: 29px;
          }
          margin-right: 12px;
        }
        .cart-arrow {
          svg {
            height: 9.98px;
            width: 15.08px;
          }
        }
      }
    }


  }
}

.items {
  .merch {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .coffee-bag {
      height: 318px;
      width: 31%;
      background-color: #F0EEEB;
      position: relative;
      text-align: center;
      margin-right: 24px;
      margin-bottom: 30px;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      opacity: 1.5;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:hover .overlay {
        opacity: 1;
      }
      &:hover a {
        opacity: 1;
        top: 50%;
      }
      .overlay {
        transition: all cubic-bezier(0, 0, 0.01, 1) .3s;
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
      }
      a {
        // transform: translateY(-80px);
        transition: all cubic-bezier(0, 0, 0.01, 1) .3s;
        opacity: 0;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #FFF;
        border: 2px solid #FFF;
        height: 40px;
        width: 80%;
        font-family: 'Brandon_med', sans-serif;
        font-size: 16px;
        padding: 9px 0;
        &:hover {
          background-color: #FFF;
          color: #000;
        }
      }
      h5 {
        font-family: 'Monthoers', sans-serif;
        font-size: 26px;
        width: 100%;
        margin-bottom: 32px;
      }
      p {
        position: absolute;
        bottom: 32px;
        left: 50%;
        transform: translate(-50%, 0%);
        font-family: 'Brandon_med', sans-serif;
        font-size: 16px;
        line-height: 23px;
      }
      .coffee-bag-img {
        margin-top: 32px;
        margin-bottom: 13px;
        height: 50%;
        width: 100%;
        background-image: url('../../img/coffee-bag-brazil-santos.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

    }
    // &:after {
    //   content: "";
    //   flex: auto;
    // }
  }
}

.promos {
  margin-bottom: 88.5px;
  .card {
    box-shadow: 0px 9px 16px rgba(0,0,0, .15);
    border-top: 10px solid $accent-color;
    background-color: #FFF;
    height: 481px;
    width: 49%;

    a {
      height: 100%;
      width: 100%;
      display: block;
      text-align: center;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      position: relative;
      h5 {
        padding-top: 51px;
        font-family: 'Monthoers', sans-serif;
        font-size: 38px;
        margin-bottom: 8px;
      }
      p {
        font-family: 'Brandon_med', sans-serif;
        font-size: 16px;
        line-height: 24px;
        width: 373px;
      }
      .promo-img {
        position: absolute;
        bottom: 0;
      }
    }
  }
  .giftcard {

    margin-right: 2%;
    a {
      .giftcard-img {
        background: url('../../img/giftcard-placeholder1.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 302px;
        width: 302px;
      }
    }


  }
  .merch-promo {
    a {
      .merch-promo-img {
        background: url('../../img/coffee-mug.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 302px;
        width: 302px;
      }
    }
  }
}


@media screen and (max-width: 1024px) {


  .items {
    .merch {
      .coffee-bag {
        height: 318px;
        width: 48%;
        margin-right: 18.4px;
        margin-bottom: 20px;
        &:nth-child(2n) {
          margin-right: 0;
        }
        .coffee-bag-img {
          margin-bottom: 22.5px;
          // height: 180px;
        }

      }
    }
  }

}

@media screen and (max-width: 768px) {
  .selections {
    margin-bottom: 56px;
  }
  .coffee-shop {
    .store {
      margin-bottom: 27px;
      .filters {
        .sort {
          select#sort-by {
            width: 100%;
            margin-bottom: 24px;
          }
        }
        .cart {
          position: relative;
        }
      }

    }
  }
  .items {
    .merch {
      .coffee-bag {
        height: 360px;
        width: 100%;
        margin-right: 0px;
        margin-bottom: 20px;
        p {
          bottom: 24px;
        }
        .coffee-bag-img {
          height: 60%;
          width: 50%;
          min-width: 300px;
          margin: 0 auto;
          margin-top: 32px;
          margin-bottom: 15.3px;
        }
      }
    }
  }
  .promos {
    .giftcard {
      width: 100%;
      margin-right: 0%;
      margin-bottom: 20.4px;
    }
    .merch-promo {
      width: 100%;
    }
  }

}
