.diagonal-bg {
  z-index: -10;
  position: absolute;
  background-color: #F2F2F2;
  width: 100%;
  background-image: linear-gradient(170deg, #F2F2F2 50%, #FFFFFF 50%);
  height: 780px;
  top: 0;
  left: 0;
}

.diagonal-bg-lower {
  z-index: -11;
  position: absolute;
  background-color: #FFFFFF;
  width: 100%;
  background-image: linear-gradient(170deg, #FFFFFF 50%, #F2F2F2 50%);
  height: 2180px;
  left: 0;
  bottom: 556px;
}
