

footer {
  height: 556px;
  margin: 0 auto;
  position: relative;
  background-color: #FFF;
  width: 100%;
}

.upper-footer {
  margin-top: 88.4px;
  display: flex;
  // grid-template-columns: 25% 42% 33%;
}

.footer-section {
  flex-grow: 1;
}

.addresses {
  width: 40%;
}

.footer-map {
  width: 20%;
}

.footer-nav nav ul {
  display: flex;
  flex-direction: column;
  font-family: 'Brandon_bld', sans-serif;
}

.footer-nav nav ul a {
  padding-left: 0;
  font-size: 14px;
  line-height: 31px;
}

.footer-nav .button {
  margin-top: 24px;
  display: inline-block;
  background-color: $accent-color;
  border: none;
  font-family: 'Brandon_bld', sans-serif;
  font-size: 16px;
  min-width: 163px;
  height: 50px;
  padding: 14px 30px;
  padding-top: 16px;
  text-align: center;
  transition: all ease-out 0.3s;
}

.footer-nav .button:hover {
  color: #FFF;
  background-color: #000;
}

.addresses {
  display: flex;
  flex-wrap: wrap;
}

.address {
  width: 50%;
}

.address .name {
  font-family: 'Monthoers', sans-serif;
  font-size: 24px;
  margin-bottom: 10px;
}

.address p {
  font-family: 'Brandon_med', sans-serif;
  font-size: 14px;

  display: inline-block;
}

.austin {
  padding-bottom: 25px;
}

.footer-map iframe {
  min-height: 282px;
  width: 100%;
  opacity: .7;
  transition: all ease-out .3s;
}

.footer-map:hover > iframe {
  opacity: 1;
}



.lower-footer {
  width: 100%;
  margin: 100px auto;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social ul li {
  padding: 5px 0;
  padding-right: 60px;
}

span:hover .favor, span:hover #inst, span:hover #twit, span:hover #fb {
  transition: all ease-out .3s;
}

span:hover .favor, span:hover #inst, span:hover #twit, span:hover #fb {
  fill: #E39049;
}

.copyright span {
  font-family: 'Brandon_med', sans-serif;
  font-size: 18px;
  margin-top: 10px;
  display: inline-block;
}

@media screen and (max-width: 1024px) {





}

@media screen and (max-width: 975px) {

  .lower-footer {
    width: 100%;
    left: 40px;
  }
}

@media screen and (max-width: 768px) {

  .upper-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .footer-map {
    order: -1;
    width: 100%;
    margin-bottom: 59.6px;
  }

  footer {
    height: 768px;
  }

  .footer-nav {
    width: 25%;
  }

  .address {
    margin-bottom: 48.4px;
  }


}

@media screen and (max-width: 600px) {
  .lower-footer {
    flex-direction: column;
    justify-content: center;
    margin-top: 83px;
    margin-bottom: 46px;
    width: 60%;
  }

  .copyright {
    align-self: center;
    margin: 37px 0;
    margin-bottom: 0;
  }

  .social ul li {
    padding-right: 10%;
  }





}

@media screen and (max-width: 480px) {
  .upper-footer {
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .footer-nav {
    width: 100%;
    margin-bottom: 60px;
  }

  .footer-nav .button {
    width: 100%;
  }

  .addresses {
    width: 100%;
    margin-bottom: 83px;
  }



}
