.hamburger {
  width: 29px;
  height: 20px;
  position: relative;
  z-index: 101;
  cursor: pointer;
}

.line {
  position: absolute;
  height: 3px;
  width: 29px;
  background: #000;
  border-radius: 3px;
  transition: all cubic-bezier(0.25, 0.1, 0.3, 1.65) 0.3s;
}

.line1 {
  top: 0%;
}

.line2 {
  top: 50%;
}

.line3 {
  top: 100%;
}

.close .line1 {
  transform: rotate(135deg);
  top: 50%;
}

.close .line2, .close .line3 {
  transform: rotate(225deg);
  top: 50%;
}
