header {
  transition: all ease-out .3s;
}

.head-container {
  font-family: 'Brandon_bld', sans-serif;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 25.8px;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;

}

.sticky {
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #FFF;
  max-width: 100%;
  margin: 0;
  box-shadow: 0 10px 16px rgba(0,0,0,0.15);
  height: 70px;
}

.sticky-head {
  height: 70px;
  padding-top: 0;
}

nav {
  align-self: center;
  margin-right: -26px;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li a:hover {
  transition: all ease-out .1s;
}

nav ul li a:hover {
  color: #bbb;
}

.tab {
  position: relative;
  display: inline-block;
}

.dropdown .dropdown-content {
  position: absolute;
  background-color: #FFF;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-top: 5px solid $accent-color;
  margin-top: 10px;
  padding: 5px 0;
}

.dropdown-content:before {
  content: "";
  height:0;
  border-bottom:9px solid $accent-color;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  position: absolute;
  top: -13px;
  left: 80px;
}



.dropdown:hover .dropdown-content,
.dropdown:hover {
  opacity: 1;
  z-index: 10;
  transform-origin: top;
  perspective: 1000px;
}

.parent1 	{
  position: absolute;
  margin-top: 10px;
	transition-duration: 300ms;
	perspective: 1000px;
	transform-style: preserve-3d;
  z-index: -1;
}

.parent3	{
	transition-property: all;
	transition-duration: 300ms;
	transform: rotateX(-25deg);
	transform-origin: top;
  opacity: 0;
}

.dropdown:hover .parent1	{
  opacity: 1;
  z-index: 10;
}

.dropdown:hover .parent1 .parent2 .parent3	{
	transform: rotateX(0deg);
  opacity: 1;
}


.drop-location {
  margin-left: -25px;
}

.drop-menu, .drop-about {
  margin-left: -40px;
}

.drop-catering {
  margin-left: -30px;
}

.drop-store {
  margin-left: -45px;
}



.dropdown-content a {
    color: #000;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.dropdown-content .new:after,
.drop-nav .new:after {
  content: "NEW";
  background: $accent-color;
  font-size: 10px;
  padding: 0 5px;
  border-radius: 15px;
  margin-left: 6px;
  color: #fff;
}

.dropdown-content a span svg {
  position: relative;
  top: 3px;
}

.dropdown-content a .icon {
  position: relative;
}

.dropdown-content a .icon svg {
  height: 18px;
  width: 18px;
  margin: 0 5px;
  display: inline-block;
  position: absolute;
}

.dropdown-content a {
  color: #000;
  transition: all ease-out .3s;
}

.dropdown-content a:hover {
  fill: $accent-color;
  color: $accent-color;
}

.dropdown-content a .icon svg path {
  color: #000;
  transition: all ease-out .09s;
}

.dropdown-content a:hover > .icon svg path {
  fill: $accent-color;
}


.logo-withstar img {
  width: 103px;
  height: 98px;
  // transition: all ease-out .3s;

}

.sticky-logo {
  height: 60px;
  width: 65px;
  margin: 5px 0;
}

.logo-typeonly img {
  width: 88px;
  height: 91px;
}

nav a {
  padding: 10px 26px;
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  header {
    width: 90%;
    max-width: 905px;
  }

}

@media screen and (max-width: 875px) {
  header {
    width: 90%;
    margin-bottom: 0px;
  }

}
