

header {
  font-family: 'Brandon_bld', sans-serif;
  margin: 0 auto;
  margin-bottom: 30px;
  padding-top: 25.8px;
  display: flex;
  justify-content: space-between;
  max-width: 1000px;

}

nav {
  align-self: center;
}

nav ul {
  display: flex;
  flex-direction: row;
}

nav ul li a:hover {
  transition: all ease-in-out .1s;
}

nav ul li a:hover {
  //opacity: 20%;
  color: #bbb;
}

.tab {
  position: relative;
  display: inline-block;
}

.tri {
   width:12px;
   height:0;
   border-bottom:12px solid #E39040;
   border-left:10px solid transparent;
   border-right:10px solid transparent;
   margin: 0 auto;
   opacity: 0;
   // z-index: -1;
   transform: translateY(-50px);
   transition: all ease-in-out .3s;
}



.dropdown .dropdown-content {
  opacity: 0;
  position: absolute;
  background-color: #FFF;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: -1;
  transform: translateY(-50px);
  transition: all ease-in-out .3s;
  border-top: 5px solid #E39040;

}

.drop-location {
  margin-left: -25px;
}

.drop-menu, .drop-about {
  margin-left: -40px;
}

.drop-catering {
  margin-left: -30px;
}

.drop-store {
  margin-left: -45px;
}



.dropdown-content a {
    color: black;
    padding: 16px 16px;
    padding-bottom: 10px;
    text-decoration: none;
    display: block;
    font-size: 16px;
}

.new {
  color: #FFF;
  background-color: #E39040;
  border-radius: 20px;
  font-size: 10px;
  padding: 3px 5px;
  margin: 0 5px;
  display: inline-block;
}

.smile {
  font-size: 25px;
  margin: 0 5px;
}

.dropdown-content a {
  color: #000;
  transition: all ease-in-out .3s;
}

.dropdown-content a:hover {
  color: #E39040;
}

.dropdown:hover .dropdown-content, .dropdown:hover .tri {
  z-index: 10;
  opacity: 1;
  transform: translateY(10px);
}

.dropdown:hover .locations-tab a {
  color: #bbb;
}


.logo-withstar img {
  width: 103px;
  height: 98px;
}

.logo-typeonly img {
  width: 88px;
  height: 91px;
}

nav a {
  padding: 10px 26px;
  font-size: 16px;
}

@media screen and (max-width: 1024px) {
  header {
    width: 90%;
    max-width: 905px;
  }

}

@media screen and (max-width: 875px) {
  header {
    width: 90%;
    // max-width: 688px;
    margin-bottom: 0px;
  }

}
