.hero {
  width: 80%;
  margin: 50px auto;
  margin-top: 80px;
  position: relative;
  max-width: 1000px;
}

.hero-img {
  height: 340px;
  width: 743px;
  background-color: #FFF;
  background: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, .5)),
              url('../../img/seemi-samuel-15564.jpg');
  background-position: 0% 90%;
  background-size: cover;

}

.hero-headline {
  font-family: 'Monthoers', sans-serif;
  height: 237px;
  width: 315px;
  border-bottom: 5px solid black;
  position: absolute;
  top: 60px;
  right: 38px;

}

.hero-headline h1 {
  font-size: 73px;
  // word-spacing: 1px;
}

@media screen and (max-width: 1024px) {
  .hero {
    width: 90%;
  }

  .hero-headline {
    right: -10px;
  }

}

@media screen and (max-width: 875px) {
  .hero-img {
    height: 300px;
    width: 100%;
    background-position: 0% 70%;
  }

  .hero-headline {
    top: 40px;
    right: 45px;

  }

  .hero {
    margin-top: 20px;
  }



}

@media screen and (max-width: 480px) {
  .hero {
    margin-top: 20px;
    margin-bottom: 210px;
  }

  .hero-img {
    height: 220px;
    background-position: 0% 0%;
  }

  .hero-headline {
    top: 110px;
    right: 0px;
  }
}
