.locations {
  width: 80%;
  margin: 50px auto;
  max-width: 1000px;
  position: relative;
  height: 550px;
}

.location-headline {
  border: 5px solid #000;
  padding: 5px 25px;
  display: inline-block;
}

.location-headline h2 {
  font-size: 3.3em;
  font-family: 'Monthoers', sans-serif;
  margin-top: 15px;
}

.location-subline {
  margin-top: 30px;
  height: 96px;
  width: 415px;
  line-height: 25px;
}

.locations p {
  font-size: 18px;
  line-height: 30px;
  font-family: 'Brandon_med', sans-serif;
}

.locations-map {
  height: 500px;
  width: 1000px;
  background-color: #FFF;
  background-image: url('../../img/map.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -8;
  position: absolute;
  left: -300px;
  top: 130px;
}

.pointer {
  position: absolute;
  z-index: 100;
  width: 75px;
  height: 75px;
}

.one {
  top: 60px;
  left: 300px;
}

.two {
  top: 120px;
  left: 340px;
}

.threee {
  top: 280px;
  left: 300px;
}

.four {
  top: 160px;
  left: 420px;
}

.five {
  top: 370px;
  left: 600px;
}

.locations-right {
  position: absolute;
  top: 120px;
  right: 130px;
}

.slideshow-container {
  width: 280px;
  max-width: 1000px;
  position: relative;
  margin: 0 auto;
  text-align: center;
}


.mySlides {
    display: none;
    text-align: left;
}

.mySlides h3 {
  font-family: 'Monthoers', sans-serif;
  font-size: 2.5em;
  margin: 30px auto;
  text-align: center;
}



.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: auto;
/*   padding: 16px; */
  color: #707070;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
}

/* Position the "next button" to the right */
.next {
  right: 20px;
}

.prev {
  left: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 18px;
  width: 18px;
  margin: 0 5px;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .dot:hover {
  background-color: #E39049;
  border: none;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.detail {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.icon svg {
  margin: 15px;
  margin-top: 5px;
}
