.menus {
  width: 100%;
  margin: 120px auto;
  text-align: center;
  max-width: 1000px;
}

.menus h1 {
  font-family: 'Monthoers', sans-serif;
  font-size: 50px;
}

.menus h1 span {
  background-color: #F2F2F2;
  padding: 30px;
}

.menus p {
  font-family: 'Brandon_med', sans-serif;
  font-size: 18px;
  border-top: 5px solid black;
  padding-top: 60px;
  width: 50%;
  margin: 0 auto;
  margin-top: -37px;
}

.menu-gallery {
  width: 100%;
  margin: 48px auto;
  display: flex;
  justify-content: space-between;
}

.menu-link {
  width: 30%;
  max-width: 228px;
  height: 228px;
  background-color: rgba(0, 0, 0, .3);
  position: relative;
  display: flex;
  overflow: hidden;
  transition: all ease-in-out .3s;
}

.menu-link img {
  position: absolute;
  top: 0;
  left: 0;
  height: 228px;
  width: 290px;
  z-index: -1;
}

.menu-link a {
  max-width: 228px;
  height: 228px;
  display: flex;
  padding: 0 70px;
  cursor: pointer;
  z-index: 1;
}

.menu-link h3 {
  color: #fff;
  font-family: 'Monthoers', sans-serif;
  font-size: 33px;
  letter-spacing: 3px;
  align-self: center;
  z-index: 1;
}

.cityhall img, .airport img {
  margin-left: -40px;
}



.barton:hover, .cityhall:hover, .three:hover, .airport:hover {
  background: rgba(227, 144, 73, .7);

}
