.menus {
  margin: 120px auto;
  text-align: center;
  max-width: 1000px;
}

.menus h1 {
  font-family: 'Monthoers', sans-serif;
  font-size: 50px;
}

.menus h1 span {
  background-color: #F2F2F2;
  padding: 30px;
}

.menus p {
  font-family: 'Brandon_med', sans-serif;
  font-size: 18px;
  border-top: 5px solid black;
  padding-top: 60px;
  width: 60%;
  margin: 0 auto;
  margin-top: -37px;
}

.menu-gallery {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(1fr, 200px);
  grid-gap: 0 28px;

}

.menu-link {
  background-color: rgba(0, 0, 0, .3);
  position: relative;
  transition: all ease-in-out .3s;
}

.menu-link img {
  width: 100%;
  position: relative;
  z-index: -1;
  display: block;
}

.menu-text {
  position: absolute;
  color: #fff;
  font-family: 'Monthoers', sans-serif;
  font-size: 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

}

.menu-text h3 {
  display: block;
}

.menu-link:hover {
  background: rgba(227, 144, 73, .7);

}

@media screen and (max-width: 1024px) {


  .menu-gallery {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 21px;
  }

}

  @media screen and (max-width: 768px) {
    .menu-gallery {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 50% 50%;
      grid-gap: 20px;
    }

    .menu-link {
      max-height: 180px;
      overflow: hidden;
    }

    .menu-link a img {
      margin-top: -40px;
    }

    .menus p {
      width: 80%
    }

    .menu-text {
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

  }

@media screen and (max-width: 480px) {
  .menu-text {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
