@font-face {
  font-family: 'Brandon_bld';
  src: url('../../fonts/Brandon_bld.otf');
}
@font-face {
  font-family: 'Brandon_med';
  src: url('../../fonts/Brandon_med.otf');
}
@font-face {
  font-family: 'Monthoers';
  src: url('../../fonts/Monthoers.ttf');
  word-spacing: -5px;
}

$accent-color: #E39040;
$accent-color-opaque: rgba(227, 144, 73, .7);

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  position: relative;
}


@import 'normalize';
@import 'reset';
@import 'grid';

////////////////HOMEPAGE/////////////////////////

@import 'header';
@import 'accordion';
@import 'hamburger';
@import 'hero';
@import 'locations';
@import 'about';
@import 'menus';
@import 'footer';
@import 'diagonal';


////////////LOCATIONS/////////////////////
@import 'loc-hero';
@import 'card-gallery';
