@font-face {
  font-family: 'Brandon_bld';
  src: url('../../fonts/Brandon_bld.otf');
}
@font-face {
  font-family: 'Brandon_med';
  src: url('../../fonts/Brandon_med.otf');
}
@font-face {
  font-family: 'Monthoers';
  src: url('../../fonts/Monthoers.ttf');
  word-spacing: -5px;
}

$accent-color: #E39040;
$accent-color-opaque: rgba(227, 144, 73, .7);

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  word-spacing: -0.15em;
}


@import 'normalize';
@import 'reset';
@import 'grid';
@import 'flexbox';

////////////////HOMEPAGE/////////////////////////

@import 'header';
@import 'accordion';
@import 'hamburger';
@import 'hero';
@import 'locations';
@import 'about';
@import 'menus';
@import 'footer';
@import 'diagonal';


////////////LOCATIONS/////////////////////
@import 'loc-hero';
@import 'card-gallery';


//////////////BARTON SPRINGS////////////////
@import 'barton-springs';



//////////////BUY COFFEE////////////////
@import 'buy-coffee';

//////////////MERCH////////////////
@import 'merch';
